server {
    listen 80;
    server_name {{DOMAIN_OR_IP}};

    location / {
        include proxy_params;
        proxy_pass http://unix:{{APP_PATH}}/panchanga.sock;
    }

    location /static {
        alias {{APP_PATH}}/static;
    }
}
